*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-image: url("../images/flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
/* styling the header section */
header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.card{
    display: grid;
    grid-template-areas: "text";

    font-family: sans-serif;
    border-radius: 18px;
    background: #f1f1f1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
    text-align: left;
    padding: 10px;
    width: 1500px;
    height: 130px;
    font-size: 18px;
}
form{
    background: #c4c4c4;
    width: 30vw;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.displayResults{
    background: #c4c4c4;
    width: 20vw;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
