* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* style header */
nav {
    padding: 30PX;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #49586F;

}

.logo1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-size: 30px;
    color: #99BCB8;

}

.logo {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-size: 30px;
    color: #DB6D4A;
}

.list {
    display: flex;
    font-size: 18px;
    list-style: none;
    display: inline-flex;
    margin-right: 70px;

}

li {
    margin-right: 50px;

}

li a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: left;
    margin-bottom: 50px;
}

main {
    background: #DECBBA
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leadHeader {
    margin: 100px;
    font-size: px;
    line-height: 25px;
    color: rgb(52, 52, 52);
    width: 900px;
}

.leadHeader h1 {
    text-align: left;
}

.leadHeader p {
    font-weight: bold;
    margin-top: -20px;
    font-size: 18px;
    font-family: 'Gill Sans';
    color: #4B4B4B;


}

.Africa {
    margin-right: 170px;
    margin-top: 50px;
    margin-bottom: 0px;

}
/* style form */
.card {
    display: grid;
    grid-template-areas: "text";

    font-family: sans-serif;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    background: #c4c4c4;
    width: 30vw;
    height: 50vh;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.calculation {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn{
    box-shadow: black;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    width: 60px;
}

.displayResults {
    font-family: sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    background-color: #c4c4c4;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}
/* style footer */
footer {
    font-size: 16px;
    text-align: center;
    color: #f1f1f1;
    background: #DB6D4A;
    padding: 20px;

}